<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="false"/>
  </appSettings>
  <log4net>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="127.0.0.1" />
      <param name="RemotePort" value="8878" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="UdpAppender" />
    </root>
  </log4net>
</configuration>
